<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Scanner</h2>


    <button type="button" name="button" ng-click="escanear()">Soy un boton</button>

    <p>{{ data.resultado }}</p>
  </ion-content>
</ion-view>
